/*** BODY STYLING ***/
#filtericon{
    justify-content:flex-end;
    font-size: 1rem;
}

#Headings{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 140%;
    margin-bottom: 2%;
    margin-left: 2%;
}


#FoodItemsGrid, #EquipmentGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100%;
    gap: 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    padding: 2%;
}

.FoodImg, .EquipmentImg {
    height: 90%;
    width: 75%;
    border-radius: 10px;
    margin: 12%;
    box-shadow: 4px 4px gray;
    filter: brightness(80%);
    transition: 0.6s;
}

.FoodImg:hover, .EquipmentImg:hover {
    cursor: pointer;
    transform: scale(0.9);
    box-shadow: 4px 4px green;
    filter: brightness(100%);
}

