* {
    margin: 0;
}

html {
    background-color: #fefefe;
    color: #000;
    width:100%;
}

/*** HEADER STYLING ***/
.bar {
    display: flex;
    justify-content: space-between;
    background-color: #e63312;
    color: #fff;
    /* height: 3rem; */
}

#logo {
    margin: 5px;
    width: 50%;
}

.burgermenu{
    color: #ffffff;
}

#logo{
    width:30%;
}
/*** BODY STYLING ***/
#filtericon{
    justify-content:flex-end;
    font-size: 1rem;
}

#Headings{
    font-family: helvetica;
    font-size: 140%;
    margin-bottom: 2%;
    margin-left: 2%;
}


#FoodItemsGrid{
    display: grid;
    justify-content: center;
    align-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100%;
    gap: 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

/* WRAP IMAGE STYLING */
#WrapImage{
    width: 75%;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
    filter: brightness(80%);
    animation: 0.5s;
}
#WrapImage:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px green;
    filter: brightness(100%);
}

/* BURGER IMAGE STYLING */
#BurgerImage{
    width: 75%;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
    filter: brightness(80%);
}
#BurgerImage:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px green;
    filter: brightness(100%);
}

/* FRIDGE IMAGE STYLING */
#FridgeImage{
    width: 75%;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
    filter: brightness(80%);
}
#FridgeImage:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px green;
    filter: brightness(100%);
}

/* CAFE IMAGE STYLING */
#CafeImage{
    width: 75%;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
    filter: brightness(80%);
}
#CafeImage:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px green;
    filter: brightness(100%);
}

#EquipmentGrid{
    display: grid;
    justify-content: center;
    align-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(50%);
    gap: 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

/* LAPTOP IMAGE STYLING */
#LaptopImage{
    width: 75%;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
    filter: brightness(80%);
    animation: 0.5s;
}
#LaptopImage:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px green;
    filter: brightness(100%);
}

/* PC IMAGE STYLING */
#PCImage{
    width: 75%;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
    filter: brightness(80%);
}
#PCImage:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px green;
    filter: brightness(100%);
}

/* BOOK IMAGE STYLING */
#BookImage{
    width: 75%;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
    filter: brightness(80%);
}
#BookImage:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px green;
    filter: brightness(100%);
}

/* PINGPONG IMAGE STYLING */
#PingPongImage{
    width: 75%;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
    filter: brightness(80%);
}
#PingPongImage:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px green;
    filter: brightness(100%);
}