html {
    background-color: #fefefe;
    color: #000;
}

/*** HEADER STYLING ***/
.bar {
    display: flex;
    justify-content: space-between;
    background-color: #f00;
    background-color: #e63312;
    color: #fff;
    height: 3rem;
}

.burgermenu{
    color: #ffffff;
}
