.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-item {
    margin: 10px;
}

#HeroImage {
    max-width: 15rem;
    height: auto;
}

.fa-solid {
    font-size: 24px;
    color: #000;
}